{
  "presets": ["env", "react"],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-es2015-spread",
    "transform-object-rest-spread",
    "transform-class-properties",
    "dynamic-import-webpack"
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform",
          {
            "generateScopedName": "[name]__[local]",
            "extensions": [".css", ".scss"],
            "preprocessCss": "./processSass.js",
            "camelCase": true
          }
        ],
        [
          "transform-assets",
          {
            "extensions": ["png", "jpg", "gif", "svg"],
            "publicPath": "/",
            "name": "[name].[ext]"
          }
        ]
      ]
    }
  }
}
