.content-wrapper {
  position: relative;
}

.content {
  position: absolute;
  width: 100%;
}

:global {
  body {
    font-family: helvetica, arial, sans-serif;
    color: #333;
  }

  .fade-enter {
    opacity: 0;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms 250ms ease-in;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
}
