doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Mono:400,500')
    link(rel='stylesheet' href='/app.css')
    script.
      window.__INITIAL_STATE__ = !{initialState}
      window.__SPLIT_POINTS__ = !{splitPoints}
  body
    block content
    script(src='/app.bundle.js')
