doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Mono:400,500')
    link(rel='stylesheet' href='/app.css')
  body
    block content
